@font-face {
  font-family: 'fontello';
  src: url('./../fonts/fontello.eot?7671252');
  src: url('./../fonts/fontello.eot?7671252#iefix') format('embedded-opentype'),
       url('./../fonts/fontello.woff2?7671252') format('woff2'),
       url('./../fonts/fontello.woff?7671252') format('woff'),
       url('./../fonts/fontello.ttf?7671252') format('truetype'),
       url('./../fonts/fontello.svg?7671252#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
