
ctr('h1, h2, h3, h4, h5, h6', {
  font-family: $font-header
  color: $color-text
})

ctr('p, a', {
  font-family: $font-body
})

ctr('p', {
  color: $color-text
})

ctr('a', {
  color: $color-link
  text-decoration: none
  visited-on: {
    color: $color-visited
  }
})
