
ctr('.body-container', {
  background: #eee
  position: absolute 0
  overflow-x: hidden
  extend: {
    Icon: {
      preset: 'emo-beer'
    }
    //using key modifier syntax
    'Icon:::github': {
      preset: 'github'
      elm: 'after'
    }
  }
  elements: {
    common: {
      position: absolute
      font-size: 1.5em
      color: alpha($color-text, 70%)
    }
    before: {
      left: 1em
      top: 1em
    }
    after: {
      right: 1em
      top: 0.75em
      font-size: 2em
    }
  }
})
