-var mixin  = require('./../index.mixin.js');
//- footer include
//----------------
footer.footer-container
  .footer-wrap
    .tag
      p Made With  #[a(href="https://github.com/artisin/cruzin") Cruzin] - A mordern MVC-less #[a(href="https://webpack.js.org/") Webpack] buildtool for cruzin
    .tech
      p HTML - #[a(href="https://pugjs.org") Pug]
      p Javascript - #[a(href="https://babeljs.io/") Bable]
      p CSS - #[a(href="http://stylus-lang.com/") Stylus]
