//- pulls in the common data from our config.yml
-var mixin  = require('./../index.mixin.js');
-var common = mixin.getData('common')
//- head include
//--------------
head
  //- common meta, from cruzin.yml
  if common.meta
    for i in common.meta
      meta&attributes(i)

  //- common links, from cruzin.yml
  if common.link
    for i in common.link
      link&attributes(mixin.link(i))

  //- css injected through webpack require
  if htmlWebpackPlugin
    each i in htmlWebpackPlugin.files.css
      link&attributes(mixin.link({href: i}))
