//- pulls in the common data from our config.yml
-var mixin  = require('./../index.mixin.js');
-var common = mixin.getData('common')
//- head include
//--------------
head
  //- meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  //- common meta
  if common.meta
    for i in common.meta
      meta&attributes(mixin.meta(i))

  //- common links
  if common.link
    for i in common.link
      link&attributes(mixin.link(i))

  if htmlWebpackPlugin
    each i in htmlWebpackPlugin.files.css
      link&attributes(mixin.link({href: i}))
