//----------------------------------------------------------------------------//
// -> Unsupported browser styles - https://browser-update.org
//----------------------------------------------------------------------------//

ctr('.buorg', {
  background-position: 8px 17px
  position: absolute
  position: fixed
  z-index: 111111
  width: 100%
  top: 0px
  left: 0px
  border-bottom: 1px solid #a5a5a5
  text-align: left
  cursor: pointer
  background-color: #fafafa
  font-size: 1em
  font-family: "'Inconsolata', monospace"
  box-shadow: 0 0 5px rgba(0,0,0,0.2)
  background-position: 9px 8px
  'comp-div': {
    padding: 11px 12px 11px 30px
    line-height: 1.7em
    //update button
    'comp-a': {
      text-indent: 0
      color: #fff
      text-decoration: none
      box-shadow: 0 0 2px rgba(0,0,0,0.4)
      padding: 1px 10px
      border-radius: 4px
      font-weight: normal
      background: #27ae60
      white-space: nowrap
      margin: 0 2px
      display: inline-block
    }
    //ignore button
    'comp-#buorgig': {
      background: #c0392b
    }
    'media--md': {
      padding: 5px 12px 5px 9px
      text-indent: 22px
      line-height: 1.3em
    }
  }
})
