ctrAddClass('Icon', {
  $$: {
    use: true
    elm: 'before'
    content: 'no-icon'
    font-size: inherit
    preset: {
      github: {content: '\e800'}
      emo-beer: {content: '\e80b'}
    }
  }
  font-family: 'fontello'
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  line-height: 1
  -webkit-font-smoothing: antialiased
  text-align: center
  font-variant: normal
  text-transform: none
  '_$elm$_': {
    use: '_$use$_'
    content: '_$content$_'
  }
})


