// ctrAddClass('Scrollbar', {
//   $$:{
//     size: 7px
//     bdrz: 2px
//   }
//   //ie
//   scrollbar-face-color: $alpha-gray
//   scrollbar-track-color:  $alpha-gray-border

//   elements: {
//     // common: {
//     //   z-index: -10
//     // }
//     //scrollbar
//     scrollbar: {
//       option: {
//         key: '-webkit-scrollbar'
//         colon: '::'
//       }
//       width: '$size$'
//       height: '$size$'
//     }

//     //scrollbar-button
//     button: {
//       option: {
//         key: '-webkit-scrollbar-button  '
//         colon: '::'
//       }
//     }

//     //scrollbar-track
//     track: {
//       option: {
//         key: '-webkit-scrollbar-track'
//         colon: '::'
//       }
//       background: $alpha-gray
//     }

//     //scrollbar-track-piece
//     track-piece: {
//       option: {
//         key: '-webkit-scrollbar-track-piece'
//         colon: '::'
//       }
//     }

//     //scrollbar-thumb
//     thumb: {
//       option: {
//         key: '-webkit-scrollbar-thumb'
//         colon: '::'
//       }
//       background: $alpha-gray-border
//       border-radius: '$bdrz$'
//       cursor: grab
//       hover: {
//         on: {
//           background: darken($alpha-gray-border, 15%)
//         }
//       }
//       active: {
//         on: {
//           background: darken($alpha-gray-border, 30%)
//         }
//       }
//     }

//     //scrollbar-track-corner
//     track-corner: {
//       option: {
//         key: '-webkit-scrollbar-corner'
//         colon: '::'
//       }
//       background: $alpha-gray-border
//     }

//     //scrollbar-resizer
//     resizer: {
//       option: {
//         key: '-webkit-resizer'
//         colon: '::'
//       }
//     }
//   }

//   // elements: {
//   //   //scrollbar
//   //   scrollbar: {
//   //   }
//   //   //scrollbar-button
//   //   button: {
//   //   }
//   //   //scrollbar-track
//   //   track: {
//   //   }
//   //   //scrollbar-track-piece
//   //   track-piece: {
//   //   }
//   //   //scrollbar-thumb
//   //   thumb: {
//   //   }
//   //   //scrollbar-track-corner
//   //   track-corner: {
//   //   }
//   //   //scrollbar-resizer
//   //   resizer: {
//   //   }
//   // }
// })
