
//----------------------------------------------------------------------------//
// -> Color
//----------------------------------------------------------------------------//
$color-bg = #eee
$color-logo = #3894D2
$color-text = #808AA0
$color-font = $color-text
$color-link = #F7A6DE
$color-visited = #B495CF

//----------------------------------------------------------------------------//
// -> Font
//----------------------------------------------------------------------------//
$font-header = "'Poppins', sans-serif"
$font-body = "'Open Sans', sans-serif"
$font-h = $font-header
$font-b = $font-body
